
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="../../../../favicon.ico">

    <link rel="stylesheet" href="~/Content/estilo.css"

    <title>Daniel</title>

    <!-- Custom styles for this template -->
    <link href="~/Scripts/cover.css" rel="stylesheet">
</head>

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">SysTechnology</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover" id="vindo">
            <h1 class="cover-heading">Bem Vindo!</h1>
            <p class="lead">Projeto pessoal baseado em um sistema de erp, controle de vendas, estoque, suporte técnico e financeiro.</p>
            <p class="lead">
                <a href="~/Home/Index/" class="btn btn-lg btn-secondary">Vamos começar</a>
            </p>
        </main>

        <section class="container" id="informativo">
            <h1>Proposta</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Sobre o desenvolvedor</h2>
                    <p>Recém-formado em Análise e Desenvolvimento de Sistemas.</p>
                </div>
                <div class="col-md-6">
                    <h2>Sistema</h2>
                    <p>Sistema em desenvolvimento, em Asp.net MVC 5, persistência de dados com EntityFrameWork e banco de dados SQLSever</p>
                </div>
            </div>

        </section>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>SysTechnology</p>
            </div>
        </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   
</body>
</html>

